{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Tous les Articles</h1>

    <div>
        {% for article in articles %}
            <div>
                <h2>{{ article.title }}</h2>
                <p><strong>Auteur : </strong>{{ article.author.username }}</p>
                <p><strong>Date de publication : </strong>{{ article.createdAt|date('d/m/Y') }}</p>
                
                <p>{{ article.content|slice(0, 150) }}... <a href="{{ path('article_show', {id: article.id}) }}">Lire la suite</a></p>

                {% if article.image %}
                    <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="Image de l'article">
                {% endif %}
                
                <hr>
            </div>
        {% else %}
            <p>Aucun article trouvé.</p>
        {% endfor %}
    </div>

{% endblock %}
